.top-menu{
    -fx-background-color: #d6efff;
    -fx-background-radius: 0;
}
.title-text{
    -fx-text-fill: black; /* Ensure the text color is black */
    -fx-opacity: 1;
}
.title-image{
    -fx-opacity: 1;
}
.button{
    
}
.new-maze-button{
    -fx-background-color: #a6efff;
    -fx-focus-color: transparent; /* Removes the glowing border color */

}
.new-maze-button:hover{
    -fx-background-color: #a6efAf;
    -fx-focus-color: transparent; /* Removes the glowing border color */

}
.open-maze-button{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: #a6efff; /* color of the border when you click the button */
}